if TARGET_H96MAX_RK3318

config SYS_BOARD
	default "h96max_rk3318"

config SYS_VENDOR
	default "rockchip"

config SYS_CONFIG_NAME
	default "evb_rk3328"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
